@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-sm-12">
        <form class="form-inline" id="formGetEmployee">
            <div class="form-group">
                <label for="exampleInputName2">Employee Id</label>
                <input type="text" class="form-control" name="employeeId">
            </div>
            <button type="submit" class="btn btn-default">Get employee</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>